/*$color1: rgba(199, 243, 249, 1);
$color2: rgba(20, 70, 160, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 94, 91, 1);
$color5: rgba(46, 53, 50, 1);*/

html, body, .main {
  height: 100%;
  width: 100%;
  background-color: black;
}
.left {
  background-color: rgba(255, 94, 91, 1);
  height: 100%;
}

.right {

  height: 100%;
}
