/*$color1: rgba(199, 243, 249, 1);
$color2: rgba(20, 70, 160, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(255, 94, 91, 1);
$color5: rgba(46, 53, 50, 1);*/

html, body {
  height: 100%;
  width: 100%;
}
.home {
  padding: 20px 50px;
  height: 100%;
  width: 100%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.resume {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 94, 91, 1) ;
}

.resume-title {
  margin: 10px;
  font-size: 40px;
  color: white;
}

.letter {
  font-size: 40px;
  color: white;
}
